<div class="crop" 
    [style.width.px]="starWidth"
    [title]="rating"
    (click)='OnClick()'>
    <div style="width: 86px">
        <i style="width:17.2px">*</i>
        <i style="width:17.2px">*</i>
        <i style="width:17.2px">*</i>
        <i style="width:17.2px">*</i>
        <i style="width:17.2px">*</i>
<!--                         
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span> -->
    </div>
</div>